/*
* @Author: Lizh
* @Date:   2018-05-14 23:26:11
* @Last Modified by:   Lizh
* @Last Modified time: 2018-05-14 23:41:34
*/
.pay-wrap {
    padding: 10px 0 25px;
    background: #fff;
}
.pay-wrap .pay-tips {
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #666;
    text-align: center;
}
.pay-wrap .pay-tips.enhance {
    color: #c60023;
}
.pay-wrap .img-con {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #ddd;
}
.pay-wrap .img-con .qr-code {
    width: 100%;
    height: 100%;
}