<!DOCTYPE html>
<html lang="en">
	<head>
	<%= require('html-loader!./layout/html-common.html') %>
<title><%= htmlWebpackPlugin.options.title%> - TmacMall电商平台</title>
	</head>
	<body>
		<%= require('html-loader!./layout/nav.html') %>
		<%= require('html-loader!./layout/header.html') %>
		<div class="crumb">
			<div class="crumb-icon w">
				<a href="./index.html" class="crumb-item">TmacMall</a>
				<span> > </span>
				<span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
			</div>
		</div>
		<div class="detail-wrap w">
			
		</div>
	<%= require('html-loader!./layout/footer.html') %>
	</body>
</html>
