<!DOCTYPE html>
<html lang="en">
	<head>
	<%= require('html-loader!./layout/html-common.html') %>
<title><%= htmlWebpackPlugin.options.title%> - TmacMall电商平台</title>
	</head>
	<body>
		<%= require('html-loader!./layout/nav.html') %>
		<%= require('html-loader!./layout/header.html') %>
		<div class="crumb">
			<div class="crumb-icon w">
				<a href="./index.html" class="crumb-item">TmacMall</a>
				<span> > </span>
				<span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
			</div>
		</div>
		<div class="page-wrap w">
			<%= require('html-loader!./layout/nav-side.html') %>
			<div class="content with-nav">
				<div class="panel">
                    <div class="panel-title"><%= htmlWebpackPlugin.options.title%></div>
                    <div class="panel-body orderListWrap">
						<div class="loading"></div>
                    </div>
					<div class="pagination">
					<!-- 分页 容器 -->	
					</div>
				</div>
			</div>
		</div>
	<%= require('html-loader!./layout/footer.html') %>
	</body>
</html>
