<!DOCTYPE html>
<html lang="en">
	<head>
	<%= require('html-loader!./layout/html-common.html') %>
<title><%= htmlWebpackPlugin.options.title%> - happymmall电商平台</title>
	<meta charset="utf-8">
	</head>
	<body>
		<%= require('html-loader!./layout/nav.html') %>
		<%= require('html-loader!./layout/header.html') %>
		<div class="crumb">
			<div class="crumb-icon w">
				<a href="./index.html" class="crumb-item">MMall</a>
				<span> > </span>
				<span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
			</div>
		</div>
		<div class="cart-wrap w">
            <div class="panel">
                <h2 class="panel-title">收货地址</h2>
            <div class="panel-body address-list">

            </div>
            </div>
            <div class="panel">
                <h2 class="panel-title">商品清单</h2>
                <div class="panel-body order-product">

                </div>
            </div>
        </div>
        <div class="model-wrap">
            
        </div>
	<%= require('html-loader!./layout/footer.html') %>
	</body>
</html>
