/*
* @Author: Lizh
* @Date:   2018-05-02 14:15:13
* @Last Modified by:   Lizh
* @Last Modified time: 2018-05-15 16:34:21
*/
.cart-wrap{
    margin-top: 20px;
}
/* header */
.cart-header{
    height: 40px;
    width: 100%;
    background: #eee;
    border: 1px solid #ebebeb;
}
.cart-table{
    padding-left: 20px;
}
.cart-header th{
    height: 100%;
    line-height: 40px;
}
.cart-header th:nth-child(1){
    width: 130px;
    text-align: left;
}
.cart-header th:nth-child(2){
    width: 440px;
    text-align: left;
}
.cart-header th:nth-child(3){
    width: 100px;
}
.cart-header th:nth-child(4){
    width: 200px;
}
.cart-header th:nth-child(5){
    width: 100px;
}
.cart-header th:nth-child(6){
    width: 110px;
}
.cart-info{
    margin-top: 10px;
    width: 100%;
    border: 1px solid #ebebeb;
}
.cart-info td{
    line-height: 40px;
    height: 82px;
    text-align: center;
}
.cart-info td:nth-child(1){
    width: 50px;
    text-align: left;
}
.cart-info td:nth-child(2){
    width: 100px;
}
.cart-info td:nth-child(3){
    width: 420px;
    text-align: left;
}
.cart-info td:nth-child(4){
    width: 100px;
}
.cart-info td:nth-child(5){
    width: 200px;
    position: relative;
}
.cart-info td:nth-child(6){
    width: 100px;
}
.cart-info td:nth-child(7){
    width: 110px;
}

.cart-img-con{
    position: relative;
    width: 82px;
    height: 82px;
    line-height: 82px;
}
.cart-img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.cart-info-count{
    height: 28px;
    line-height: 28px;
    width: 60px;
    text-align: center;
    outline: none;
    border: 1px solid #ddd;
}
.count-change-btn{
    height: 28px;
    line-height: 28px;
    width: 20px;
    border: 1px solid #ddd;
}
.totalPrices{
    color: #000;
    font-weight: 700;
}
.cart-minus{
    left: 41px;
    top: 27px;
}
.cart-plus{
    left: 131px;
    top: 27px;
}
.deleteCartProduct,.delete-selected{
    cursor: pointer;
}
/* footer */
.cart-footer{
    width: 100%;
    background: #eee;
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cart-footer td:nth-child(2){
    padding-left: 20px;
}
.cart-footer td:nth-child(3){
    width: 929px;
    text-align: right;
}
.cart-footer-price{
    font-size: 18px;
    color: #c60023;
    font-weight: 700;
    margin-right: 30px;
}
.cart-footer-item span{
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}
