/*
* @Autho r: Lizh
* @Date:   2018-04-07  03:44:01
* @Last Modified by:   Lizh
* @Last Modified time: 2018-04-26 02:45:47
*/
.form-line{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.form-line .input{
    height: 25px;
    line-height: 25px;
    width: 200px;
    font-size: 14px;
}
.btn{
    text-align: center;
    margin: 5px 83px;
    width: 165px;
}