/*
* @Author: Lizh
* @Date:   2018-04-17 16:44:24
* @Last Modified by:   Lizh
* @Last Modified time: 2018-04-17 20:40:44
*/
.header .logo{
	position: absolute;
	left: 60px;
	top: 34px;
	display: block;
	font-size: 36px;
	font-weight: bold;
	color: #c60023;
}
.header .search-con{
	padding: 40px 0px 30px 250px;
}
.header .search-con .search-input{
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	width: 550px;
	border: 2px solid #c60023; 
	outline: none;
}
.header .search-con .search-btn{
	position: absolute;
	height: 44px;
	width: 80px;
}