<div class="footer">
	<div class="w">
		<div class="links">
			<a href="https://www.imooc.com/" class="link">慕课网</a> |
			<a href="https://www.baidu.com/" class="link">百度</a> |
			<a href="https://www.taobao.com/" class="link">淘宝</a> |
			<a href="https://www.zhihu.com/" class="link">知乎</a>
		</div>
			<p class="copyright">Copyright © 2018-2019 happymall.com All Right Reserved
			</p>
	</div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/hogan.js/3.0.2/hogan.min.js"></script>