<div class="notice-con"> 
    <div class="w"> 
        <p class="notice">
            注意：本网站为个人电商平台开发学习demo，分为客户端和后台管理系统,旨在了解一个电商网站从设计到上线的整个流程！所有商品均为虚拟商品，且不会有真实交易产生！
        </p> 
        <p class="notice add">
            <a class="notice-link" href="http://47.106.183.192/" target="_blank" title="Java从零打造企业级电商项目实战-服务端">
                客户端 >>
            </a> 
            <span>
                  JS+JQ+webpack+NodeJS+NPM+git+sublime+charles/Fiddler 
            </span>
        </p> 
        <p class="notice add">
            <a class="notice-link" href="http://47.106.183.192:8080/index.html" target="_blank" title="Java从零打造企业级电商项目实战-服务端">
                 后台管理系统 >>
            </a> 
            <span>
                  React16+React-Router4+ES6+CSS3+Bootstrap+yarn+NodeJS+git+Shell+nginx+Linux 
            </span>
        </p> 
    </div> 
</div>
<div class="nav">
	<div class="w">
		<div class="nav-info">
			<span class="user not-login">
				<span class="link js-login">登录</span>
				<span class="link js-register">注册</span>
			</span>
			<span class="user login">
				<span class="link-text" >欢迎,
					<span class="username"></span>
				</span>
				<span class="link js-logout">退出</span>
			</span>
		</div>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="link" href="./cart.html">
                    <i class="fa fa-shopping-cart"></i>
                    购物车(<span class="cart-count">0</span>)
                </a>
            </li>
            <li class="nav-item">
                <a class="link" href="./order-list.html">我的订单</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./user-center.html">我的MMall</a>
            </li>
            <li class="nav-item">
                <a class="link" href="./about.html">关于MMall</a>
            </li>
        </ul>
    </div>
</div>