/*
* @Author: Lizh
* @Date:   2018-04-16 21:49:18
* @Last Modified by:   Lizh
* @Last Modified time: 2018-04-25 23:00:25
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	background: #fff;
	border-bottom: 1px solid #ddd; 
}
.nav-simple .logo{
	color: #c60023;
	font-size: 26px;
	font-weight: bold;
	text-decoration: none;
}