/*
* @Author: Lizh
* @Date:   2018-04-12 21:36:26
* @Last Modified by:   Lizh
* @Last Modified time: 2018-05-16 01:16:21
*/
/* css reset */
*{
	margin: 0;
	padding: 0;
}
a{
text-decoration:none;
}
body{
	background:#f6f6f6;
	font: 12px/1.5 tahoma, arial, Microsoft Yahei, sans-serif;
}
li{
	list-style: none;
}
img{
	display: block;
}
label{
	cursor: pointer;
}
input[type='checkbox']{
	cursor: pointer;
}
/*定宽布局*/
.w{
	width: 1080px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.large .w{
	widows: 1600px;
}
/* panel */
.panel{
    background: #fff;
}
.panel .panel-title{
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.panel .panel-body{
    padding: 10px;
    overflow: hidden;
}
/*全局通用样式*/
.hide{
	display: none;
}
/*超链样式*/
.link{
	color: #999;
	cursor: pointer;
	text-decoration: none;
}
.link:hover{
	color: #e80012;
}
.link-text{
	color: #999;
	text-decoration: none;
}
/* btn */
.btn{
	display: inline-block;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	color: #fff;
	background: #c60023;
	font-size: 20px;
	font-weight: bold;
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration: none; 
}
.btn-mini{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding: 0 10px;
}
/*+-按钮*/
.count-change-btn{
    display: block;
    border: 1px solid #aaa;
    height: 15px;
    width: 20px;
    text-align: center;
    position: absolute;
    background: #fff;
    cursor: pointer;
    line-height: 15px;
    -moz-user-select : none;
    -webkit-user-select : none;
    -ms-user-select : none;
    user-select : none;
}
/*loading*/
.loading{
	margin: 20px auto;
	display: block;
	height: 65px;
	width: 65px;
	background:url(../../image/icon/loading.gif) no-repeat;
	border-radius: 5px;
	opacity:.6;
}
/* 错误信息 */
.err-tip{
    height: 60px;
    line-height: 60px;
    color: #f60;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
/*面包屑*/
.crumb{
	margin-bottom: 15px;
	background: #eee;
	border-top: 2px solid #c60023;
}
.crumb .crumb-icon{
	height: 50px;
    line-height: 50px;
	font-size: 14px;
	color: #888;
}
.crumb .crumb-icon .crumb-item{
	color: #888;
	text-decoration: none; 
}
